soap-mtom/src/main/resources/MtomService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:com.redhat.fsw.poc.soap_mtom:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MtomService" targetNamespace="urn:com.redhat.fsw.poc.soap_mtom:1.0">
  
  <wsdl:types>
    <xsd:schema targetNamespace="urn:com.redhat.fsw.poc.soap_mtom:1.0">
      <xsd:element name="receiveFile">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="receiveFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="receiveFileRequest">
    <wsdl:part element="tns:receiveFile" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="receiveFileResponse">
    <wsdl:part element="tns:receiveFileResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="MtomService">
    <wsdl:operation name="receiveFile">
      <wsdl:input message="tns:receiveFileRequest"/>
      <wsdl:output message="tns:receiveFileResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="MtomServiceSoapBinding" type="tns:MtomService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="receiveFile">
      <soap:operation soapAction="urn:com.redhat.fsw.poc.soap_mtom:1.0:receiveFile"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="MtomService">
    <wsdl:port binding="tns:MtomServiceSoapBinding" name="MtomServicePort">
      <soap:address location="http://localhost:8080/soap-mtom/MtomService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
