soap-helloworld/src/main/resources/AddNumbers.wsdl

<definitions name="AddNumbers"  targetNamespace="http://example.com/" xmlns:tns="http://example.com/"
    xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl">
	<types>
            <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://example.com/">

                <complexType name="addNumbersResponse">
                    <sequence>
                        <element name="return" type="xsd:int" />
                    </sequence>
                </complexType>
                <element name="addNumbersResponse" type="tns:addNumbersResponse" />
                <element name="addNumbers2Response" type="tns:addNumbersResponse" />
                <element name="addNumbers3Response" type="tns:addNumbersResponse" />

                <complexType name="addNumbers">
                    <sequence>
                        <element name="number1" type="xsd:int" />
                        <element name="number2" type="xsd:int" />
                    </sequence>
                </complexType>
                <element name="addNumbers" type="tns:addNumbers" />
                <element name="addNumbers2" type="tns:addNumbers" />
                <element name="addNumbers3" type="tns:addNumbers" />

                <element name="AddNumbersFault" type="tns:AddNumbersFault" />
                <complexType name="AddNumbersFault">
                    <sequence>
                        <element name="detail" type="xsd:string" />
                        <element name="message" type="xsd:string" />
                    </sequence>
                </complexType>
            </xsd:schema>
	</types>
	<message name="addNumbers">
            <part name="parameters" element="tns:addNumbers" />
	</message>
	<message name="addNumbersResponse">
            <part name="result" element="tns:addNumbersResponse" />
	</message>
	<message name="addNumbersFault">
            <part name="AddNumbersFault" element="tns:AddNumbersFault" />
	</message>
	<message name="addNumbers2">
            <part name="parameters" element="tns:addNumbers2" />
	</message>
	<message name="addNumbers2Response">
            <part name="result" element="tns:addNumbers2Response" />
	</message>
	<message name="addNumbers3">
            <part name="parameters" element="tns:addNumbers3" />
	</message>
	<message name="addNumbers3Response">
            <part name="result" element="tns:addNumbers3Response" />
	</message>
	
	<portType name="AddNumbersPortType">
            <operation name="addNumbers">
                <input message="tns:addNumbers"></input>
                <output message="tns:addNumbersResponse"></output>
                <fault name="addNumbersFault" message="tns:addNumbersFault"></fault>
            </operation>
            <operation name="addNumbers2">
                <input message="tns:addNumbers2" name="add2In"></input>
                <output message="tns:addNumbers2Response" name="add2Out"></output>
                <fault name="addNumbersFault" message="tns:addNumbersFault"></fault>
            </operation>
            <operation name="addNumbers3">
                <input message="tns:addNumbers3" wsaw:Action="add3in"></input>
                <output message="tns:addNumbers3Response" wsaw:Action="add3out"></output>
                <fault name="addNumbersFault" message="tns:addNumbersFault" wsaw:Action="add3fault"></fault>
            </operation>
	</portType>
	
	<binding name="AddNumbersBinding" type="tns:AddNumbersPortType">
            <wsaw:UsingAddressing wsdl:required="false" />
            <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
            <operation name="addNumbers">
                <soap:operation soapAction="addNumbers" style="document"/>
                <input>
                    <soap:body use="literal" />
                </input>
                <output>
                    <soap:body use="literal" />
                </output>
                <fault name="addNumbersFault">
                    <soap:fault name="addNumbersFault" use="literal" />
                </fault>
            </operation>
            <operation name="addNumbers2">
                <soap:operation soapAction="addNumbers2" style="document"/>
                <input>
                    <soap:body use="literal" />
                </input>
                <output>
                    <soap:body use="literal" />
                </output>
                <fault name="addNumbersFault">
                    <soap:fault name="addNumbersFault" use="literal" />
                </fault>
            </operation>
            <operation name="addNumbers3">
                <soap:operation soapAction="addNumbers3" style="document"/>
                <input>
                    <soap:body use="literal" />
                </input>
                <output>
                    <soap:body use="literal" />
                </output>
                <fault name="addNumbersFault">
                    <soap:fault name="addNumbersFault" use="literal" />
                </fault>
            </operation>
	</binding>
	
	<service name="AddNumbersService">
            <port name="AddNumbersPort" binding="tns:AddNumbersBinding">
                <soap:address location="http://localhost:8080/soap-helloworld/HelloWorldService" />
            </port>
	</service>
</definitions>
