sy-stockquote/src/main/resources/StockTrade.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Designer Edition (Trial) 12.2.3.5240 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="stockTrade">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="B" />
                            <xs:enumeration value="S" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="amount"
                            type="xs:double" />
                <xs:element name="symbol"
                            type="xs:string" />
                <xs:element name="accountId"
                            type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
